include README LICENSE MANIFEST.in
include DomainFinder DomainFinderModes TransitionPath
include Doc/*.html
include Doc/*.sgml
include Visualization/*.py
include Visualization/lyso.domains
include Visualization/lyso.modes
